/*.first-color { 
	background: #414a50; FONT COLOUR
}
.second-color { 
	background: #85a6b1; 
}
.third-color { 
	background: #8bd7d1; 
}
.fourth-color { 
	background: #caedde; MAIN COLOUR
}*/

:root {
  --main-color: #caedde;
  --font-color: #414a50;
  --heading-font: "Old Standard TT", serif;
  --default-font: "Tajawal", sans-serif;
}

body {
  color: var(--font-color);
}

h1 {
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: 64px;
}

h2 {
  font-family: var(--default-font);
  font-weight: 400;
  font-size: 36px;
}

.hero {
  padding: 60px 0px;
  text-align: center;
  background-color: var(--main-color);
}

.intro-p {
  text-align: center;
  font-size: 18px;
}

.project-info {
  text-align: center;
  line-height: 1.5;
}

.project-image {
  display: block;
  text-align: center;
  border: 20px solid var(--main-color);
  border-radius: 8px;
}

.btn-branding {
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  color: var(--font-color);
  box-shadow: 6px 5px 5px rgba(0, 0, 0, 0.2);
}

.btn-branding:hover {
  border: 2px solid var(--main-color);
  color: var(--main-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 20px;
  }

  .project-info {
    text-align: center;
  }
  .btn-branding {
    margin-bottom: 30px;
  }

  .intro-p {
    margin: 0px 20px;
  }
}
