/*.first-color { 
	background: #cabfab; SECONDARY-FONT
}
	
.second-color { 
	background: #dfd8c8; MAIN COLOR
}

.third-color { 
	background: #41444b; FONT COLOR
}

.fourth-color { 
	background: #52575d; 
}
}*/

:root {
  --main-color: #dfd8c8;
  --font-color: #41444b;
  --secondary-font-color: #cabfab;
  --heading-font: "Old Standard TT", serif;
  --default-font: "Tajawal", sans-serif;
}

body {
  color: var(--font-color);
}

h1 {
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: 64px;
}

h2 {
  font-family: var(--default-font);
  font-weight: 400;
  font-size: 36px;
}

.navbar-branding {
  background-color: var(--main-color);
  color: var(--font-color);
}

.nav-name {
  font-family: var(--heading-font);
  color: var(--font-color);
  font-size: 28px;
}

.nav-menu {
  font-family: var(--default-font);
  color: var(--font-color);
  font-size: 20px;
}

.nav-menu:hover {
  font-weight: 500;
  color: var(--font-color);
}

.hero {
  padding: 90px 0px 60px 0px;
  text-align: center;
  background-color: var(--main-color);
}

.intro-paragraph {
  text-align: center;
  font-size: 18px;
}

.project-info {
  text-align: center;
  line-height: 1.5;
}

.portfolio-image {
  display: block;
  text-align: center;
  border: 20px solid var(--main-color);
  border-radius: 8px;
  margin-bottom: 50px;
}

.btn-branding {
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  color: var(--font-color);
  box-shadow: 6px 5px 5px rgba(0, 0, 0, 0.2);
}

.btn-branding:hover {
  border: 2px solid var(--main-color);
  color: var(--main-color);
}

.heading-information {
  text-align: center;
  margin-top: 90px;
}

.heading-information h1 {
  font-size: 52px;
}

.heading-information h2 {
  font-size: 32px;
  opacity: 0.7;
}

.information-paragraph {
  text-align: justify;
  margin-bottom: 30px;
}

.web-link {
  color: var(--font-color);
  font-weight: 500;
  transition: all 150ms ease-in-out;
}

.web-link:hover {
  color: var(--secondary-font-color);
  font-weight: 500;
}

.contact-icon {
  color: var(--secondary-font-color);
  font-weight: 700;
}

@media (max-width: 900px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 20px;
  }

  .nav-name,
  .nav-menu {
    font-size: 18px;
  }

  .project-info {
    text-align: center;
  }
  .btn-branding {
    margin-bottom: 30px;
  }

  .intro-paragraoph {
    margin: 0 auto;
  }

  .information-paragraph {
    text-align: center;
    padding: 10px;
  }

  .portfolio-image {
    margin: 0 auto;
    max-width: 300px;
  }

  .heading-information h1 {
    font-size: 40px;
  }

  .heading-information h2 {
    font-size: 20px;
    opacity: 0.7;
  }
}
